# First ignore everything
*

# Then unignore specific files in home directory
!.ackrc
!.bash_aliases
!.bashrc.local
!.bash_completion
!.ctags
!.gitconfig
!.tmux.conf
!.bashrc
!.vimrc
!.fzf.bash
!.gitignore
!.obsidian.vimrc
!.p10k.zsh
!.zshrc

!.config/
!.vscode/

!.config/nvim/
!.config/nvim/**
!.config/nvim.bak/
!.config/nvim.bak/**

# Unignore specific vscode files
!.vscode/extensions/
!.vscode/extensions/extensions.json
!.vscode/settings.json
!.vscode/keybindings.json

# Finally, add specific ignores
.quarto/
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.secrets
