[user]
	name = peter bull
	email = 17122363+peterbull@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPIguCwgh1mjL6nGHTcXIkXXrYeepypWbT4kzgxHZx9j

[includeIf "gitdir:~/telus/"]
  path = ~/.gitconfig-telus        

[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-ctm


[gpg]
	format = ssh


[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
  excludesfile = /Users/peterbull/.gitignore_global
  pager = delta
	hooksPath = /Users/peterbull/.git-hooks
[diff]
  tool = meld
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[push]
  autoSetupRemote = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
  conflictStyle = zdiff3
[credential "https://github.com"]
	helper = 
	helper = !~/.config/git/gh-credential-helper.sh
[credential "https://gist.github.com"]
	helper = 
	helper = !~/.config/git/gh-credential-helper.sh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/peterbull/.ssh/allowed_signers
[commit]
	gpgsign = true
