# First ignore everything
*

# Then unignore dirs
!.config/
!.vscode/

# Then unignore specific files
!.ackrc
!.bash_aliases
!.bashrc.local
!.bash_completion
!.ctags
!.gitconfig
!.tmux.conf
!.bashrc
!.vimrc
!.gitconfig
!.bashrc
!.fzf.bash
!.gitignore
!.obsidian.vimrc
!.p10k.zsh
!.zshrc

# Then unignore specific patterns in subdirectories
!.config/nvim/**
!.config/nvim.bak/**
!.vscode/extensions/extensions.json

# Finally, add specific ignores
/.quarto/
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
